*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: verdana;
}
.navbar{
	background-color: blue;
	color: whitesmoke;
}
.navbar li a{
	text-decoration: none;
}
.navbar li a:hover{
	cursor: pointer;
}
.navbar ul{
	display: flex;
	justify-content: space-evenly;
}
footer{
	position: fixed;
	background-color: blue;
	color: whitesmoke;
	height: 100px;
	max-width: 100%;
}